:root {
    --bg: #ffffff;
    --font: 'DM Sans', sans-serif;
    --color: #1D2433;
}

*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }


html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    font-family: var(--font);
    color: var(--color);
}

#root {
    height: 100vh;
}
