
.conteudo {
    padding: 15px 15px 30px 15px;
}
h1 {
    color: #000000;
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: 24px;
    font-weight: 600;
    width: fit-content;
}

.titulo {
    background-color: #D6D9D7;
    padding: 10px 10px 10px 10px;
    border-radius: 32px 32px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.data-titulo {
    margin: 0px;
    text-align: center;
    padding: 5px 10px;
    margin-top: 7px;
    background-color: #b9b9b9;
    color: black;
    border-radius: 20px;
    font: 500 16px/1 system-ui;
    letter-spacing: .2px; 
}

ul.checklist {
    margin: 0px 0 0px;
    padding: 5px;
    background-color: white;
    border-radius: 0px 0px 32px 32px;
    display: grid;
    border: 1px solid #D6D9D7;
    max-height: 451px;
    /* 467 heigth total
    455 heigth bruto
    */
}

.set-rolagem {
    overflow-y: scroll;
}

.set-borda > ul{
    border-radius: 0px 0px 32px 0px;
}

.calendar {
    z-index: 200;
    position: relative;
}

.check {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 12px;
    padding: 15px 12px;
    /* padding: 20px 12px; */
    position: relative;
    color: #000000;
    font-size: 15px;
    /* font-size: 17px; */
}
.check input {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    margin-right: 0;
    border: 2px solid #707070;
    border-radius: 6px;
    display: grid;
    place-items: center;
    background: transparent;
    cursor: pointer;
    transition: .2s ease;
}
.check input:focus-visible {
    box-shadow: 0 0 0 2px #7c5cff inset;
    outline: none;
}
.check input:before {
    content: "";
    width: 10px;
    height: 10px;
    transform: scale(0);
    transition: .2s ease;
    clip-path: polygon(14% 44%, 0 59%, 42% 100%, 100% 12%, 85% 0, 40% 69%);
    background: #7c5cff;
}
.check input:checked {
    border-color:#7c5cff;
    background: rgba(124, 92, 255, .1);
}
.check input:checked::before {
    transform: scale(1);
}
.check label {
    cursor: pointer;
}

.marcado {
    opacity: .30;
    text-decoration: line-through;
}

.ok {
    background: rgba(25, 195, 125, .12);
    color: #19c37d;
    border-color: transparent;
    font: 500 12px/1 system-ui;
    padding: 5px 10px;
    border-radius: 999px;
    letter-spacing: .2px;
}

.badge {
    font: 500 12px/1 system-ui;
    padding: 5px 10px;
    border-radius: 999px;
    letter-spacing: .2px;
    background-color: #EEF2FF;
    color: #3730A3;
}
.total {
    background-color: #DCFCE7;
    padding: 16px;
    color: #0B7F36;
    border-radius: 0px 0px 32px 32px;
    border: 1px solid #86EFAC;
    border-top: none;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    top: 0;
    left: 73px;
    right: 0;
    bottom: 0;
    transition: 1s;
}


.total-to-left {
    transform: translateX(-73px);
}

.total-no-margin {
    background-color: #DCFCE7;
    padding: 16px;
    color: #0B7F36;
    border-radius: 0px 0px 32px 32px;
    border: 1px solid #86EFAC;
    border-top: none;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
}

.total h2 {
    margin: 0px;
}
.total p {
    font-size: 1.2em;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.border-bottom {
    border-bottom: 1px solid #70707036;
}

.janela-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.598);
    text-align: center;
    min-width: 260px;
    border-radius: 30px;
    padding: 20px;
    border: 1px solid white;
    backdrop-filter: blur(2px);
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text > h2{
    font-size: 18px;
    margin: 0px;
    font-weight: 500;
}

.text > p {
    font-size: 14px;
    color: #686767;
    text-align: left;
    margin-top: 7px;
    margin-bottom: 20px;
}

.info-icon {
    color: #19c37d;
    box-shadow: 0px 0px 2px 0px #22c55e;
    border-radius: 100%;
    padding: 5px;
    background-color: rgba(25, 195, 125, .12);
    border: 1px solid;
}

.pai-total {
    width: 360px;
}

.bot-modal {
    width: fit-content;
    font-size: 16px;
    font-weight: 500;
    background-color: rgba(107, 107, 107, 0.178);
    padding: 12px 37px;
    border-radius: 50px;
    border-style: none;
    letter-spacing: .2px;
}

.fechar {
    color: rgba(255, 0, 0, 0.849);
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.caixa-check {
    padding: 13px;
    background-color: white;
    border-radius: 0px 0px 25px 25px;
}

.pai-caixa-check {
    z-index: 100;
    transition: 1s;
    position: absolute;
    top: 57%;
    left: 69%;
    width: fit-content;
}

.pai-caixa-check-show {
    transform: translateY(77px);
}

.inactive {
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.242),
rgba(0, 0, 0, 0.18) 0px 8px 5px;
transition: 1s ease;
}

.active {
 box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 2px,rgba(0, 0, 0, 0.18) 0px 3px 5px;
 opacity: 1;
 transition: 1s ease;
}

/* From Uiverse.io by satyamchaudharydev */ 
/* button {
  --bg: #e74c3c;
  --text-color: #fff;
  position: relative;
  width: 150px;
  border: none;
  background: var(--bg);
  color: var(--text-color);
  padding: 1em;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
  border-radius: 5px;
  opacity: 0.8;
  letter-spacing: 1px;
  box-shadow: #c0392b 0px 7px 2px, #000 0px 8px 5px;
}

button:hover {
  opacity: 1;
}

button:active {
  top: 4px;
  box-shadow: #c0392b 0px 3px 2px,#000 0px 3px 5px;
} */